---
import Body from "../layouts/Body.astro";
import Header from "../components/Header.astro";
---

<Body title="Page Not Found">
  <Header />
  <main class="flex flex-col justify-center items-center my-40">
    <h2 class="text-3xl">I Think You are Lost!</h2>
    <a
      class="px-5 py-3 my-5 rounded-md inline-block text-white bg-slate-900"
      href="/">Let's Go Home</a
    >
  </main>
</Body>
