---
import Body from "../layouts/Body.astro";
import Header from "../components/Header.astro";
---

<Body title="About">
  <Header />
  <section class="mx-4 md:mx-20 lg:mx-60 my-10">
    <h2 class="text-2xl font-bold text-slate-800">About</h2>
    <h3 class="text-lg md:text-xl font-semibold my-3 text-slate-700">
      A front-end Designer and Developer, Who can help in crafting better
      interfaces to help people grow.
    </h3>
    <p class="text-base md:text-lg text-slate-700">
      Hey, this is Nooruddin Rahmani and I'm in love with clean and minimal
      designs. I do freelancing as a part-time job and I'm currently studying
      and exploring new things in life. Need help with your next SAAS project?
      or your UI/UX designs? If or just want to chat contact me via Email or
      social media.
    </p>
    <div class="my-4 text-lg md:text-xl text-slate-700">
      <a href="mailto:nooruddin.rahmani100@gmail.com"
        ><p>Email me at:nooruddin.rahmani100@gmail.com</p>
      </a>
    </div>
    <div class="flex my-16 text-gray-700">
      <a href="https://www.linkedin.com/in/noor-rahmani/" class="flex mr-4"
        ><span>Linkedin</span><span
          ><img src="/assets/images/arrow-up-right.svg" alt="goto" />
        </span>
      </a><a href="https://github.com/nooruddin-rahmani" class="flex mx-4"
        ><span></span>GitHub<span
          ><img src="/assets/images/arrow-up-right.svg" alt="goto" />
        </span>
      </a><a href="https://twitter.com/Nooruddinrahma4" class="flex mx-4"
        ><span></span>Twitter<span
          ><img src="/assets/images/arrow-up-right.svg" alt="goto" />
        </span>
      </a><a href="https://www.instagram.com/noor_rahmani.me/" class="flex mx-4"
        ><span></span>Instagram<span
          ><img src="/assets/images/arrow-up-right.svg" alt="goto" />
        </span>
      </a>
    </div>
  </section>
</Body>
