---
import Body from "../layouts/Body.astro";
import Header from "../components/Header.astro";
---

<Body title="Book Shelf">
  <Header />
  <section class="mx-4 my-10 md:mx-20 lg:mx-40">
    <div class="md:flex md:items-center md:justify-center">
      <img src="/assets/images/banner.png" alt="banner" />
    </div>
    <div class="my-10 flex flex-col items-center md:flex md:flex-row">
      <div class="md:w-1/2 md:mx-5">
        <h2 class="text-2xl font-bold my-4">The BookShelf Challenge</h2><p
          class="pb-5 leading-loose"
        >
          Taking notes while reading books can be tedious as you have to switch
          between the note-taking app and the book. That's why I and a friend of
          mine Habibullah Rezaie came up with an idea of a library and a
          note-taking app both baked into a single app called BookShelf which
          allows users to take notes while reading their favorite books. I was
          honored to be the UX Researcher and UI Designer for Bookshelf and
          Habibullah Rezaie is responsible for the development phase. A Figma
          community file inspired the Design of this project. We edited the
          original file and made some changes to make it more usable and
          user-friendly. We are planning to expand the project and make a web
          app for the Bookshelf so that anyone can access the app
        </p>
        <a
          class="px-5 py-3 my-5 rounded-md inline-block text-white bg-slate-900"
          href="https://www.figma.com/file/WyU9XJvCU2fJVXEdLtJufP/BookShelf-Contribution?node-id=18%3A24"
          >View Design</a
        >
      </div>
      <div class="my-10 md:w-1/2">
        <img
          class="my-10"
          src="/assets/images/bookshelf-mockup.webp"
          alt="bookshelf Mockup"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <h2 class="font-medium py-5 text-slate-800 text-xl text-center">
        FigJam made it easy to collaborate for us
      </h2><img
        src="/assets/images/figjam.png"
        class="border h-40 md:h-80"
        alt="figjam"
      />
    </div>
    <div class="my-5 flex flex-col justify-center items-center border-t">
      <h2 class="font-medium py-5 text-slate-800 text-xl">
        Simple user-friendly and Usable UserInterface
      </h2>
      <div
        class="flex flex-col justify-center items-center gap-5 md:flex md:flex-row md:flex-wrap"
      >
        <img src="/assets/images/Search.png" alt="Search" /><img
          src="/assets/images/signup.png"
          alt="Sign up"
        /><img src="/assets/images/readingdark.png" alt="Reading-Dark" />
        <img src="/assets/images/notes.png" alt="Notes" /><img
          src="/assets/images/sign.png"
          alt="Sign in"
        /><img
          src="/assets/images/homefirsttimeuser.png"
          alt="Home dirst time user"
        />
      </div>
    </div>
  </section>
</Body>
