---
import Body from "../layouts/Body.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3119746,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
---

<Body title="Nooruddin Rahmani">
  <Header />
  <Card
    cardTitle="BookShelf"
    description="A book Store and Note Taking App."
    href="/bookshelf"
    imageSrc="/assets/images/bookshelf.png"
  />
  <Card
    cardTitle="Lofied"
    description="A web Based LOFI Music Player."
    href="https://lofied.netlify.app/"
    imageSrc="/assets/images/lofied.png"
  />
  <Card
    cardTitle="Tesla Clone"
    description="Clone of Tesla Official Website."
    href="https://tesla-clone100.netlify.app/"
    imageSrc="/assets/images/tesla.png"
  />
  <Card
    cardTitle="Portfolio Template"
    description="An Early prototype of my Portfolio."
    href="https://www.figma.com/community/file/1067702863052064583"
    imageSrc="/assets/images/portfolio.png"
  />
  <main class=""></main>
</Body>
<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
