---
import Body from "../layouts/Body.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Body title="Nooruddin Rahmani">
  <Header />
  <Card
    cardTitle="BookShelf"
    description="A book Store and Note Taking App."
    href="/bookshelf"
    imageSrc="/images/bookshelf.png"
  />
  <Card
    cardTitle="Lofied"
    description="A web Based LOFI Music Player."
    href="https://lofied.netlify.app/"
    imageSrc="/images/lofied.png"
  />
  <Card
    cardTitle="Tesla Clone"
    description="Clone of Tesla Official Website."
    href="https://tesla-clone100.netlify.app/"
    imageSrc="/images/tesla.png"
  />
  <Card
    cardTitle="Portfolio Template"
    description="An Early prototype of my Portfolio."
    href="https://www.figma.com/community/file/1067702863052064583"
    imageSrc="/images/portfolio.png"
  />
  <main class=""></main>
</Body>
<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
