---
---

<header
  class="sm:mx-4 md:flex md:flex-row md:justify-between md:mx-20 lg:mx-60"
>
  <div class="flex flex-col items-center gap-y-4 py-5 md:items-start">
    <a href="/">
      <h1
        class="text-3xl font-sans font-bold md:text-4xl lg:mt-5 text-slate-800"
      >
        Nooruddin Rahmani
      </h1>
    </a>
    <p class="md:text-start text-center md:text-xl text-slate-700">
      Web Developer, UI/UX Designer <br />based in Kabul.
    </p>
  </div>
  <div class="flex gap-x-4 items-center justify-center text-slate-600">
    <a href="/about">About</a>
    <a
      href="https://drive.google.com/file/d/1bG5190G7O1QtYTXK6l3Hj9Op40w9KpU8/view?usp=sharing"
      >Resume</a
    >
  </div>
</header>
